body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, button {
    margin: 10px 0;
    padding: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.advice {
    margin-top: 20px;
}

.advice ul {
    list-style-type: none;
    padding: 0;
}

.flexbox {
    display: flex;
    justify-content: center;
}

.gridbox {
    display: grid;
}

.advice h2 {
    color: #333;
}

.font-largest-strong li {
    font-size: 1.2em;
    color: #b22222; /* 深红色 */
}

.font-second-strong li {
    font-size: 1.1em;
    color: #ff4500; /* 橙红色 */
}

.font-normal-strong li {
    font-size: 1em;
    color: #2e8b57; /* 绿色 */
    font-style: italic;
}

.font-normal li {
    font-size: 0.9em;
    color: #333;
}