body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, button {
    margin: 10px 0;
    padding: 10px;
}

button {
    background-color: #2A9D8F;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {/*滑鼠停留在button上的顏色*/
    background-color: #264653;
}

.advice {
    margin-top: 20px;
}

.advice ul {
    list-style-type: none;
    padding: 0;
}

.flexbox {
    display: flex;
    justify-content: center;
}

.gridbox {
    display: grid;
}

.advice h2 {
    color: #333;
}

.font-largest-strong li {
    font-size: 1.2em;
    color: #264653;
}

.font-second-strong li {
    font-size: 1.1em;
    color: #ffffff;
    background-color: #264653; /* 設置淺藍色背景 */
}

.font-normal-strong li {
    font-size: 1em;
    color: #000000; /* 绿色 */
    font-style: italic;
    text-align: left;
}

.font-normal li {
    font-size: 0.9em;
    color: #333;
}
